/*-------  ここから共通のCSS  --------*/
body {
    margin: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    color: #505050;
    background-color: #D4DFF0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #323A45;
    transition: all .3s;
  }
  
  a:hover {
    color: #5983ff;
    text-decoration: none;
  }
  
  h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  h3 {
    color: #505050;
    font-size: 36px;
    position: relative;
  padding-left: 25px;
  }

  h3:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 15px transparent;
    border-bottom: solid 15px rgb(80,80,80);
  }
  h3:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 10px;
    width: 100%;
    border-bottom: solid 3px rgb(80,80,80);
  }

  h5{
    color: #505050;
    font-size: 24px;
    position: relative;
  padding-left: 25px;
  }

  .container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .section-title {
    color: #555;
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .section-title h3 {
    margin: 10px 0;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
  }
  
  .gray-section {
    background: #BFC5CA;
    color: #888;
  }
  /*-------  ここまで共通のCSS  --------*/
  
  /*-------  ここからheader  --------*/
  header {
    height: 50px;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    background-color: #A4C2F0;
    line-height: 50px;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
    z-index: 10;
  }
  
  .header-title {
    float: left;
  }
  
  .header-logo {
    color: #505050;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
  }
  
  .header-menu-right {
    float: right;
  }
  
  .header-menu-right li {
    float: left;
  }
  
  .header-menu-right a {
    color: #323A45;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
  }
  
  .header-menu-right a:hover {
    color: #5983ff;
    transition: color .3s;
  }
  /*-------  ここまでheader  --------*/
  
  /*-------  ここからtop content  --------*/
  .top-section {
    margin: 0 auto;
    text-align: center;
    background-image: url(images/blue221.jpg);
    background-size: cover;
  }
  
  .top-inner {
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
  }
  
  .top-section p {
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 48px;
    line-height: 54px;
    padding-right: 30px;
    font-weight: 400;
  }
  
  
  .top-section .top-button {
    margin-top: 40px;
    /* margin-bottom: 40px; */
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s;
  }
  
  /*-------  ここまでtop content  --------*/
  
  
  /*-------  ここからsection  --------*/
  .section-top {
    text-align: center;
    height: 376px;
  }
  
  .section-bottom {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .error-message {
    color: #F51414;
    height: 20px;
  }

/* slick横スライドは画像のみ動かせる */
.slider1-wrap {
  width: 600px;
  margin: 0 auto;
  position: relative;
}
.slider-1 .slick-slide {
  height: 400px;
  overflow: hidden;
}
.slider-1 .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbs_dots {
  margin: 10px 0 0;
}
.thumbs_list li {
  display: inline-block;
  width: 150px;
  height: 80px;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s;
}
.thumbs_list li.slick-active {
  opacity: 1;
}


/*---ここからラジオボタン---*/
.list ul li{
	margin:0 5px 50px 0;
	display:inline-block;
  color: #505050;
  font-size: 20px;
}
/* ラジオボタン01 */
.radio01{
  display: none;
}
.radio01 + label{
  padding-left: 22px;
  position:relative;
  margin-right: 22px;
}
.radio01 + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  border: 1px solid #999;
  border-radius: 50%;
}
.radio01:checked + label{
  color: #009a9a;
  padding: 1em 1em;
  margin: 2em 0;
  font-weight: bold;
  background: #D4DFF0;
  border: solid 3px #009a9a;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.radio01:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 11px;
  height: 11px;
  background: #009a9a;
  border-radius: 50%;
  text-align: center;
}

/* ラジオボタン02 */
.radio02{
  display: none;
}
.radio02 + label{
  padding-left: 22px;
  position:relative;
  margin-right: 22px;
}
.radio02 + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  border: 1px solid #999;
  border-radius: 50%;
}
.radio02:checked + label{
  color: #009a9a;
  padding: 1em 1em;
  margin: 2em 0;
  font-weight: bold;
  background: #D4DFF0;
  border: solid 3px #009a9a;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.radio02:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 11px;
  height: 11px;
  background: #009a9a;
  border-radius: 50%;
  text-align: center;
}

span {
  color: #009a9a;
}

/*---ここまでラジオボタン---*/

/* h2見出し画像 */
.iconCPU::before {
    content: url(images/cpuIcon48.png);
    margin-right:20px;  /*画像右の余白*/
}

.iconGPU::before{
  content: url(images/gpuIcon.png);
    margin-right:20px;  /*画像右の余白*/
}

.list h2{
  padding: 10px 0px;
  border-bottom: 3px solid #000;
  margin-bottom: 50px;
}

.guide h2{
  padding: 10px 0px;
}

.flex{
  display: flex;
  justify-content: space-evenly;
}
.flex>p{
  width: 50%;
}

/* スコア表示ボタン */
.buttonScore a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 200px;
  color: #009a9a;;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s; 
}

.buttonScore a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #009a9a;
  border-right: 3px solid #009a9a;
  transform: rotate(45deg);
}

.buttonScore a:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

.btn--blue a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #505050;
    font-size: 18px;
    font-weight: 700;
    background-color: #D4DFF0;
    border-radius: 50vh;
    transition: 0.3s;
  }
  .btn--blue a::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px solid #3d9ec8;
    border-radius: 50vh;
    transition: 0.2s;
  }
  .btn--blue a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #505050;
    border-right: 3px solid #505050;
    transform: rotate(45deg);
  }
  .btn--blue a:hover::before {
    top: 0;
    left: 0;
  }
  .btn--blue a:hover {
    text-decoration: none;
    background-color: #a0c4d3;
  }


  
  /*-------  ここからfooter  --------*/
  footer {
    text-align: center;
    padding: 2px 0;
    color: #505050;
    background-color: #A4C2F0;
  }
  
  .copyright {
    margin: 8px;
    text-align: center;
  }
  /*-------  ここまでfooter  --------*/